body {
    background: linear-gradient(90deg, #e67e22, #e74c3c);
  }  
  .btn {
    background-color: #f16051;
    color: #fff;
  }
  .list-group li,
  .information {
    font-size: 18px;
  }
  .list-group li .badge-primary {
    background-color: #f16051;
  }